.app {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  color: red;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
}

.totally-centered {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tilt-root {
  height: 15vh;
  width: 15vw;
  border: 1px solid red;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tilt-child {
  background-color: white;
  display: block;
  height: 8vh;
  width: 12vw;
}
